@import "../../Styles/common.scss";

.ItemCard {
  &.main {
    width: 249px;
    height: 506px;
    margin-right: 18px;

    .ItemCardContainer {
      position: relative;
      .saleBox {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 9px;
        width: 66px;
        height: 58px;
        background-color: rgba(158, 113, 190, 0.7);
        text-align: center;
        font-size: 20px;
        color: white;
      }
      img {
        width: 100%;
        height: 320px;
        object-fit: cover;
      }
      .header {
        padding-top: 6px;
        font-size: 16px;
        line-height: 23px;
      }

      .price {
        padding-top: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }

      .originalPrice {
        padding-top: 4px;
        font-size: 14px;
        color: #ccc;
        line-height: 18px;
        text-decoration: line-through;
      }
    }
  }

  &.ItemList {
    padding: 25px 26px 0 0;
    width: 336px;
    height: 611px;

    .ItemCardContainer {
      position: relative;

      button {
        position: absolute;
        top: 340px;
        right: 15px;
        width: 45px;
        height: 45px;
        border: 0;
        outline: 0;
        border-radius: 100%;
        background-color: rgba(124, 101, 126, 0.8);
      }

      .saleBox {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 9px;
        width: 66px;
        height: 58px;
        background-color: rgba(158, 113, 190, 0.7);
        text-align: center;
        font-size: 20px;
        color: white;
      }

      img {
        width: 100%;
        height: 396px;
        object-fit: cover;
      }
      .header {
        padding-top: 5px;
        max-height: 58px;
        font-weight: 700;
        font-size: 20px;
        color: #333;
        line-height: 29px;
      }
      .priceBox {
        padding-top: 5px;
        .price {
          font-weight: 700;
          line-height: 25px;
          font-size: 17px;
          color: $theme-color;
        }
        .originalPrice {
          color: #ccc;
          line-height: 18px;
          text-decoration: line-through;
        }
      }
      .description {
        padding-top: 8px;
        font-size: 13px;
        color: #666;
        line-height: 19px;
      }

      .event {
        padding: 2px 2px;
        border: 1px solid $theme-color;
        font-size: 12px;
        color: $theme-color;
        line-height: 30px;
      }
    }
  }

  &.ItemDetail {
    width: 180px;
    height: 320px;
    margin-right: 10px;
    border: 1px solid #ddd;
    .ItemCardContainer {
      img {
        width: 100%;
        height: 230px;
        object-fit: cover;
      }
      .header {
        height: 35px;
        padding: 10px 0 0 10px;
        font-size: 14px;
        font-weight: 700;
        color: #4c4c4c;
        line-height: 18px;
      }

      .price {
        font-size: 14px;
        padding: 5px 0 0 10px;
      }
    }
  }

  // .ItemCardContainer {
  //   .header {
  //     color: #333;
  //   }

  //   .price {
  //     font-weight: 700;
  //     line-height: 25px;
  //     font-size: 17px;
  //     color: $theme-color;
  //   }

  //   .description {
  //     font-family: noto sans;
  //     font-size: 13px;
  //     color: #666;
  //     line-height: 19px;
  //   }

  //   .event {
  //     padding: 2px 2px;
  //     border: 1px solid $theme-color;
  //     font-size: 12px;
  //     color: $theme-color;
  //     line-height: 30px;
  //   }
  // }
}
