$main-width: 1050px;
$theme-color: #512772;
$purple-text-color: #59368f;
$purple-item-sticker: #b69ac8;
$dark-gray: #949296;
$light-gray: #dddfe1;

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
