@import "../../../Styles/common.scss";
.bnrMain {
  margin: 0 auto;
  width: $main-width;
  height: 180px;
  margin-bottom: 4rem;
  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}
