@import "../../Styles/common.scss";
@import "../../Styles/reset.scss";
.gnbOverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.header {
  display: flex;
  flex-direction: column;
  height: 156px;
  margin-bottom: 80px;

  .header__logo {
    width: $main-width;
    height: 63px;
    margin-bottom: 7rem;

    img:first-child {
      position: absolute;
      top: 1%;
      width: 163px;
      height: 22px;
      left: 30px;
    }
    img:last-child {
      position: absolute;
      width: 180px;
      height: 120px;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }
  }
}
