@import "../../Styles/common.scss";

.Signup {
  width: 100%;
  margin-bottom: 300px;

  i.sub {
    color: #ee6a7b;
  }
  button {
    border: 1px solid $purple-text-color;
    background: none;
    line-height: 44px;
    border-radius: 3px;
    color: $purple-text-color;
    font-weight: 600;
  }
  .small-btn {
    width: 120px;
  }
  .gray-btn {
    width: 120px;
    border: 1px solid #c7bfbf;
    color: #c7bfbf;
  }

  .mt-24 {
    margin-top: 24px;
  }

  .big-btn {
    margin-right: 10px;
    padding: 0 14px;
    width: 332px;
    height: 48px;
  }

  .signup-wrap {
    margin: 0 auto;
    margin-top: 64px;
    width: 640px;

    h1 {
      font-weight: 900;
      font-size: 30px;
      color: #333;
      text-align: center;
      line-height: 40px;
    }
    h1 + p {
      padding: 23px 0 10px;
      border-bottom: 2px solid black;
      font-size: 12px;
      color: #666;
      line-height: 17px;
      text-align: right;
    }

    table.info {
      width: 100%;

      th {
        width: 159px;
        padding: 20px 0 0 20px;
        text-align: left;
        font-size: 14px;
        color: black;
      }
      td {
        padding: 19px 0 10px 0;

        .inputbox-commonstyle {
          margin-right: 10px;
          padding: 0 14px;
          width: 332px;
          height: 48px;
          border: 1px solid #c7bfbf;
          border-radius: 3px;
        }
        .inputbox-commonstyle::placeholder {
          color: #c7bfbf;
        }

        .guide {
          padding-top: 10px;
          font-size: 12px;
          line-height: 15px;
          color: #666;

          .red {
            color: #b3130b;
          }

          span {
            display: block;
          }
        }

        .birth-input-wrap {
          width: 332px;
          height: 48px;
          border: 1px solid #c7bfbf;
          border-radius: 3px;

          input {
            width: 30%;
            height: 100%;
            border: none;
            text-align: center;
          }
          input::placeholder {
            color: #c7bfbf;
          }
          span {
            margin: 0 5px;
            color: #c7bfbf;
          }
        }
      }
      td.fw-400 label {
        margin-right: 73px;
        font-weight: 400;
        font-size: 14px;

        input {
          margin-right: 12px;
        }

        .radio-ico {
          position: absolute;
          display: inline-block;
          width: 24px;
          height: 24px;
          border: 1px solid #ddd;
          background-color: #fff;
          border-radius: 100%;
          vertical-align: -7px;
          margin-left: -4px;
        }

        input[type="radio"] {
          -webkit-appearance: none;
          appearance: none;
        }

        input[type="radio"] {
          position: relative;
          width: 12px;
          height: 12px;
          vertical-align: 3px;
          color: white;
        }

        input[type="radio"]::before {
          content: "";
          width: 24px;
          height: 24px;
          border-radius: 100%;
          position: absolute;
          padding: 1px 2px;
          right: -3px;
          top: -3px;
          visibility: hidden;
          background-color: $theme-color;
        }

        input[type="radio"]:checked::before {
          visibility: visible;
        }

        input[type="radio"]:disabled {
          border-color: black;
          background: #ddd;
          color: gray;
        }
      }
    }
    .under-line {
      margin: 30px 0;
      width: 100%;
      height: 1px;
      background-color: black;
    }
  }
}
